body {
   font-family:Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #f6d6c2;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding-top: 10px;
}

header {
   padding: 2vh;
   font-weight: bold;
}

.loginFormContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

a {
   font-weight: normal; 
   font-size: 20px;
}

#loginForm {
   width: 40vw;
   height: 40vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid #000000;
   border-radius: 5px;
}

.errorMessage {
   margin-top: 1px;
   color: #ae282c;
   height: 5px;
   font-size: 14px;
}

.inputbox {
   border: #000000 solid 1px;
   background-color: #8ec1da;
   border-radius: 5px;
   height: 30px;
}

.button {
   cursor: pointer;
   display: inline-block;
   font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
   padding: 7px 20px;
   text-align: center;
   text-decoration: none;
   border: 1px solid #000000;
   border-radius: 5px;

   transition: all .2s ease-in-out;
   font-size: 16px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button:disabled {
   background-color: #7c7874;
   box-shadow: none;
   color: rgb(255, 255, 255);
}

.button:hover {
   background-color: #d47264;
}

.button:disabled:hover {
   cursor: default;
}

#loginBtn {
   margin-top: 30px;
}

#logoutBtn {
   margin-top: 10px;
}

.row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch;
}

.box {
   background-color: #8ec1da;
   min-width: 300px;
}

#userData {
   height: 250px;
   border: rgb(108, 153, 250) 3px solid;
   border-radius: 10px;
   text-align: center;
   flex-grow: 1;
   overflow: auto;
}

#auditData {
   height: 250px;
   text-align: center;
   flex-grow: 1;
   overflow: auto;
}

#progressGraphContainer {
   display: flex;
   flex-direction: column;
   padding: 10px;
   max-width: 800px;
   flex-grow: 1;
}

#progressGraphContainer h1 {
   text-align: center;
}

#lineGraph {
   padding: 10px;
   max-width: 800px;
   transform: scaleY(-1);
   flex-grow: 1;
}

#xpContainer {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   overflow-y: auto;
   max-width: 330px;
}

#xpContainer h1 {
   text-align: center;
}

#barGraph {/*#xpGraphContainer {*/
   flex: 1;
   overflow-y: auto;
   width: 100%;
}

#auditData, #userData, #xpContainer, #progressGraphContainer {
   border: rgb(0, 0, 0) 1px solid;
   border-radius: 15px;
   margin: 10px;
   padding: 10px;
}

#xpContainer, #progressGraphContainer, #lineGraph {
   width: 100%; 
   height: auto; 
}

#generalSelection {
   width: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
 }

 #generalSelection form {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 20px;
 }

 #generalSelection select {
   margin: 10px;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid #000000;
   font-size: large;
   height: 40px;
 }
